[submodule "css-playground"]
	path = css-playground
	url = https://github.com/HoodieYlya13/css-playground.git
[submodule "clock"]
	path = clock
	url = https://github.com/HoodieYlya13/clock.git
[submodule "to-do-list"]
	path = to-do-list
	url = https://github.com/HoodieYlya13/to-do-list.git
[submodule "guess-number"]
	path = guess-number
	url = https://github.com/HoodieYlya13/guess-number.git
